* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Georgia, serif;

}

header {
    background-image: url('static/images/p3.jpg');
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(33, 51, 87);
    color: #FFFFFF;
    padding: 10px;
    height: 7vh;
    z-index: 9999;
    ;
}

header h1 {
    font-size: 30px;
    margin-top: 90px;
    font-weight: 500;
    margin-left: 20px;
    margin-right: 20px;
}

header p {
    font-size: 15px;
    margin: 0.5rem;
    margin-left: 20px;
    margin-right: 20px;
}

header a.cta {
    background-color: #fff;
    border: 1px solid #333;
    color: #333;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 60px;
    margin-top: 1rem;
    margin-bottom: 20px;
    transition: all 0.2s;
}

header a.cta:hover {
    background-color: red;
    color: black;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    position: absolute;
    top: -50%;
    width: 100%;
    padding: 20px 7%;
    margin: auto;
}

nav img {
    height: 30px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: #e1dcdc;
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

nav a:hover {
    color: #7b8e93;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li {
    padding: 15px 10px;
    font-size: 16px;
}

.toggle {
    font-size: 30px;
    display: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 0;
}

section {
    width: 80%;
    text-align: center;
    margin: 0.5px;
    margin-top: 0.1px;
    margin-bottom: 0.1rem;
    width: 900x;
}

section h2 {
    font-size: 2rem;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 1rem;
    margin-top: 0%;
}

section form {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
}


section input[type="text"],
section input[type="email"],
section textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1.1rem;
    margin-bottom: 1.1rem;
    border-radius: 5px;
    border: 1px solid #333;
    background: #f2f2f2;
    border: none;
    outline: none;
}

section button[type="submit"] {
    background-color: rgb(33, 51, 87);
    color: #fff;
    padding: 1rem;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.2s;
    width: 100%;
}

footer {
    background-color: rgb(33, 51, 87);
    color: #e1dcdc;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    font-size: 1rem;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

footer a {
    color: #fff;
    margin-left: 1rem;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
    }

    header h1 {
        display: none;
    }

    header p {
        display: none;
    }

    nav {
        /* flex-direction: column;
        display: none; */
        display: block;
        position: relative;
        padding: 15px 20px;
    }

    nav img {
        display: none;
        margin-left: 90px;
    }

    .menu {
        margin-top: 15px;
        display: none;
    }

    .menu.active,
    .toggle {
        display: block;
    }

    .toggle {
        position: absolute;
        top: 15px;
        right: 20px;
    }

    main {
        flex-direction: column;
    }

    section {
        width: 100%;
    }

    footer {
        flex-direction: column;
    }
}

.team-section {
    width: 100%;
    overflow-x: auto;
}

.team-container {
    display: flex;
    flex-wrap: nowrap;
}

.team-member {
    flex: 0 0 auto;
    width: 300px;
    margin-right: 20px;
    text-align: center;
}

.team-member img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 13px;
}

.team-member h3 {
    margin-top: 10px;
}

.team-member p {
    margin-top: 5px;
    color: #777;
}


@media only screen and (max-width: 600px) {
    .team-member {
        width: 100%;
        margin: 2rem auto;
    }
}

#about {
    padding: 50px 8%;
    line-height: 25px;
}

#about img {
    margin-top: 30px;
}

#contact {
    padding: 50px 7%;
    line-height: 25px;
}

#contact he {
    margin-bottom: 2rem;
}

.table-header {
    margin-left: -2px;
}

.transparent-header th {
    background-color: transparent;
    /* Set transparent background for the table header */
    width: 10px;
}

.img_demo {
    border: 1px solid #ccc;
}

.table-container {
    max-height: 200px;
    overflow-y: auto;
    margin-top: 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    table-layout: fixed;
    box-sizing: border-box;
}

.second-table {
    border: 1px solid #ccc;
    /* Add border to the second table */
    border-right: none;
}

thead th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
    z-index: 999;
}

td a {
    text-decoration: none;
    height: 40px;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


th {
    background-color: #f2f2f2;
    border: none;
    color: #333;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

thead th:not(:last-child) {
    /* Add a right border to all header cells except the last one to separate columns */
    border-right: 1px solid #ccc;
}

tbody td:nth-child(1),
tbody td:nth-child(3),
tbody td:nth-child(4) {
    color: rgb(94, 94, 236);
}

tbody tr:hover {
    background-color: #e9e9e9;
}

tr:hover td:nth-child(1),
tr:hover td:nth-child(3),
tr:hover td:nth-child(4) {
    color: #333;
}

.text-div {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    background-color: #f2f2f2;
    padding: 20px;
}

.text-div h2 {
    font-size: 24px;
    color: #333;
}

.text-div p {
    font-size: 16px;
    color: #555;
}

.left-text1 {
    text-align: left;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 20px;
    color: #333;
    font-weight: bold;
}

.left-text1 a.cta {
    background-color: #fff;
    border: 1px solid #333;
    color: #333;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 20px;
    transition: all 0.2s;
    max-width: 50px;
    max-height: 10px;
}

.left-text1 a.cta:hover {
    background-color: red;
    color: black;
    cursor: pointer;
}

.left-text2 {
    text-align: left;
    margin-bottom: 10px;
    color: #333;
}

.touch {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 15px;
    color: #333;
}

.developer {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 15px;
    color: #333;
}

.r-div {
    margin-bottom: 10px;
    margin-top: 20px;
    color: #333;
}


.team_text {
    text-align: center;
    margin-top: 1px;
    color: #333;
}

.hover-text {
    text-decoration: none;
    color: rgb(54, 116, 168);
    font-weight: 500;
}

.hover-text:hover {
    color: #333;
    /* Change the text color to red on hover */
    /* Add any other style changes you want for the hover effect */
}

.blue-bar {
    height: 5px;
    background-color: rgb(117, 168, 211);
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
}

.scroll-to-top-btn {
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 32px;
    width: 50px;
    height: 50px;
    background: #ddd;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #1f1f1f;
    text-decoration: none;
    font-size: 32px;
    pointer-events: none;
    transition: all .4s;
    opacity: 0;
}

.scroll-to-top-btn.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

.button-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.back-button,
.next-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #2a5ff0;
    border: none;
    cursor: pointer;
}

.back-button:hover,
.next-button:hover {
    background-color: #0056b3;
}


.my-button {
    padding: 10px 10px;
    font-size: 16px;
    background-color: #007BFF;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: left;
    font-family: "Times New Roman", Times, serif;
}

/* Hover effect - Optional */
.my-button:hover {
    background-color: #0056b3;
}


.cards-container {
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.team-card {
    margin: 10px;
    flex: 0 0 33.33%;
    /* Display three cards at a time in one row */
    /* Card styles here */
    background-color: #fff;
    /* Set the card background color */
    padding: 20px;
    border-radius: 8px;
    /* Rounded corners for the card */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a shadow effect on all sides */
    /* Add a shadow effect */
    /* Adjust margin between cards */
    max-height: 1000px;
    max-width: 300px;
    overflow: none;
}

.team-card:last-child {
    margin-right: 0;
    /* Remove margin from the last card */
}

.buttons {
    text-align: center;
    margin-top: 10px;
}

.team_button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
   background-color: #2a5ff0;
   color: #FFFFFF;
   justify-content: center;
   align-items: center;
   border: none;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.card-content {
    margin-top: -10px;
}

.card-content h2{
    font-weight: 200;
    color: rgb(64, 112, 244);
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
    margin-top: -15px;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #fff;
}

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #fff;
}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid rgb(22, 82, 193);
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
}